body{


    background: rgb(30,135,218);
    background: -moz-radial-gradient(circle, rgba(30,135,218,1) 28%, rgba(68,25,241,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(30,135,218,1) 28%, rgba(68,25,241,1) 90%);
    background: radial-gradient(circle, rgba(30,135,218,1) 28%, rgba(68,25,241,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e87da",endColorstr="#4419f1",GradientType=1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#formum{
    width: 440px;
    height: 90px;
    border-radius: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,58,158);




}

#formum input{
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 49px;
    margin-left: 24px;
    font-size: large;
    
}

#formum button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    color: rgb(19, 143, 226);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

#formum button:hover{
    background-color: rgb(1, 60, 255);
    color: white;
}

#formum button:active{
    background-color: rgb(19, 143, 226);
}

#formum input:focus{
    outline: none;
}

#listem {
    width: 400px;
    height: 400px;
    border:4px;
    margin-top: 4px;
    
}

#listem ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#listem ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
    background: rgb(251,251,251);
    border-radius: 19px;
    height: 50px;
    border: solid 1px rgb(1, 101, 252);
    margin-top: 3px;
    font-size: large;
}

#listem button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(0,58,158);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

#listem button:hover{
    background-color: rgb(0, 0, 0);
}

#listem button:active{
    background-color: rgb(255, 255, 255);
}

#listem input:focus{
    outline: none;
}